* {
  margin: 0;
  font-family: Pretendard, sans-serif;
}

body {
  background: #111;
}

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #fff, #ff8a80);
}

/* 좌측 네비 */
.side-nav {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  width: 84px;
  height: 420px;

  background: rgba(255, 255, 255, 0.9);
  border-radius: 48px;
  padding: 20px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.nav-item {
  position: relative;
  width: 100%;
  padding: 14px 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;

  cursor: pointer;
  z-index: 1;
}

.nav-item img {
  width: 32px;
  height: auto;
}


.active-pill {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 56px;
  height: 72px;
  border-radius: 36px;

  background: linear-gradient(
    to bottom,
    #ffffff,
    #f5f5f5
  );

  box-shadow:
    inset 0 0 0 2px rgba(255,255,255,0.8),
    0 4px 12px rgba(0,0,0,0.08);

  z-index: -1;
}

.nav-item.active span {
  color: #333;
  font-weight: 600;
}

.nav-item.active img {
  filter: brightness(0.8);
}


/* 메인 */
.main {
  text-align: center;
  margin-top: 10px;
}

.status-icon {
  font-size: 24px;
  color: red;
}

.bpm {
  font-size: 120px;
  font-weight: bold;
  color: red;
}

.unit {
  font-size: 40px;
  color: red;
}

.ecg img {
  width: 80%;
  opacity: 0.6;
  margin-top: 20px;
}


.character img {
  width: 380px;          /* ← 여기서 크기 조절 */
  height: auto;
  max-width: 100%;
  margin-top: 300px;
}


/* 위험 패널 */
.danger-panel {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 180px;
  height: 360px;
  background: #e53935;
  border-radius: 32px;
  padding: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.danger-panel button {
  background: white;
  color: #e53935;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-weight: bold;
}


.danger-panel {
  display: flex;
  flex-direction: column;
  align-items: center;   /* ⬅ 가로 중앙 */
  text-align: center;    /* ⬅ 텍스트 중앙 */
}
